body{
    font-family: 'Times New Roman', Times, serif, sans-serif;
    background-color: lightgray;
    margin: 0;
    padding: 0;
}



.profile {
    display: flex;
    align-items: flex-start;
    gap: 20px;
}

.profile .About {
    flex-direction: column;
}

.profile img {
    object-fit: cover;
    width: 125px;
    height: 150px;
}

header.main-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: red;
    padding: 10px;
}

header.contact-info {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 10px;
}

.daftar-isi {
    width: 200px;
    position: fixed;
    top: 140px;
    left: 20px;
    background-color: lightskyblue;
    border: 1px solid black;
    padding: 10px;
}

.content {
    margin-left: 250px;
    padding: 20px;
}
